{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block section_title %} Home {% endblock %}

{% block body %}

<main role="main">
    <section class="jumbotron text-center">
        <div>
            {% if featured_movie_list %}
                {% for movie in featured_movie_list %}
                    <div  style="float:left;background-color:black;height:100%;width:20%"><a href="/movie/{{movie.slug}}/">{{movie.title}}</a></div>
                {% endfor %}
            {% else %}
                <p>No movies found!</p>
            {% endif %}
        </div>
    </section>
    <section class="jumbotron text-center">
        <div>
            {% if featured_movie_list %}
                {% for movie in featured_movie_list %}
                    <div  style="float:left;background-color:grey;height:100%;width:20%"><a href="/movie/{{movie.slug}}/">{{movie.title}}</a></div>
                {% endfor %}
            {% else %}
                <p>No movies found!</p>
            {% endif %}
        </div>
    </section>
    <section class="jumbotron text-center">
        <div>
            {% if featured_movie_list %}
                {% for movie in featured_movie_list %}
                    <div  style="float:left;background-color:grey;height:100%;width:20%"><a href="/movie/{{movie.slug}}/">{{movie.title}}</a></div>
                {% endfor %}
            {% else %}
                <p>No movies found!</p>
            {% endif %}
        </div>
        {{ now }}
    </section>
</main>

{% endblock %}
