{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block section_title %} Home {% endblock %}

{% block body %}

{% if featured_movie_list %}
<div class="container-fluid my-3">
    <h2 class="font-weight-light text-light">Popular movies</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="featuredCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for movie in featured_movie_list %}
                {% if forloop.first %}
                <div class="carousel-item active col-5">
                    <div class="card">
                        <div class="card-img">
                            <img src="/{{ movie.poster_path }}" class="img-fluid">
                        </div>

                    </div>
                </div>
                {% else %}
                <div class="carousel-item col-5">
                    <div class="card">
                        <div class="card-img">
                            <img src="/{{ movie.poster_path }}" class="img-fluid">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <a class="carousel-control-prev bg-transparent w-aut" href="#featuredCarousel" role="button"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#featuredCarousel" role="button"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>

{% else %}
<p>No featured movies found!</p>
{% endif %}

{% if recommended_movie_list %}
<div class="container-fluid my-3">
    <h2 class="font-weight-light text-light">Recommended movies</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recommendedCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for movie in recommended_movie_list %}
                {% if forloop.first %}
                <div class="carousel-item active col-5">
                    <div class="card">
                        <div class="card-img">
                            <img src="/{{ movie.poster_path }}" class="img-fluid">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item col-5">
                    <div class="card">
                        <div class="card-img">
                            <img src="/{{ movie.poster_path }}" class="img-fluid">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <a class="carousel-control-prev bg-transparent w-aut" href="#recommendedCarousel" role="button"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recommendedCarousel" role="button"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>

{% else %}
<p>No recommended movies found!</p>
{% endif %}

{% endblock %}
