{% extends 'base.html' %}

{% load static %}
{% load addstr from str_filters %}

{% block title %} Movie Details {% endblock %}


{% block body %}


<div class="container-fluid my-5">

    <div class="d-flex justify-content-around my-3 mx-5 bd-highlight">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png"
            class="rounded float-start" width="300px" height="500px" alt="Movie Poster">
        <div class="d-flex flex-column">
            <h3 class="font-weight-light text-light my-3">Movie Title</h3>
            <p class="font-weight-light text-light my-3"> Release Date </p>
            <p class="font-weight-light text-light badge bg-primary text-wrap my-3"> Action | Romance | Thriller </p>
            <div class="d-flex justify-content-evenly text-light">
                <p class="fw-bold"> Actors </p>
                <p>NameOne | NameTwo | NameThree</p>
            </div>
            <div class="d-flex justify-content-evenly text-light">
                <p class="fw-bold"> Directors </p>
                <p>NameOne | NameTwo | NameThree</p>
            </div>
            <div class=" text-light text-wrap" style="width: 30rem;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum. </div>
            <video width="600px" height="300px" controls="controls">
                <source src="vid.mp4" type="video/mp4">
            </video>

        </div>
    </div>



</div>




{% endblock %}